ALT_HEADER_NAME=x-image-alt-desc
CLIENT_ID_HEADER=CF-Access-Client-Id
CLIENT_SECRET_HEADER=CF-Access-Client-Secret
CLIENT_ID=YOUR_CLIENT_ID
CLIENT_SECRET=YOUR_CLIENT_SECRET
ALLOWED_ORIGINS=https://goncalo2k.pt/
AUTH_ROUTES=
ENABLE_AUTH=true
LOG_LEVEL=info